.container {
    width: 485px;
    margin-left: auto;
    margin-right: auto;

}
.left {
    width: 70%;
    height: 100px;
    float: left;
}
.right {
    width: 30%;
    height: 250px;
    float: left;
}
.left-top {
    height: 40%;
}
.left-bottom {
    height: 60%;
}
.mini-profile {
    width: 20%;
    float: left;
}
.name {
    width: 80%;
    float: left;
}
.navbar li {
    display: inline-block;
    width: 70px;
    text-align: center;
    background-color: gold;
    border-radius: 8px;
}
.navbar a {
    font-size: 16px;
    text-decoration: none;
}